body {
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.light {
  background-color: rgba(220,237,193, 0.8);
  color: black;
}

.light .desc {
  color: black;
}

.night .desc {
  color: gray;
}

.night {
  background-color: black;
  color: whitesmoke;
}

h1 {
    font-family: Poppins;
    text-align: center;
    font-size: 50px;
}

h2 {
  font-family: Poppins;
  text-align: center;
  font-size: 25px;
}

.light .moodBoard {
    background-color: #FEF7E5;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    vertical-align: middle;
    font-size: 25px;
    overflow: auto;
    font-family: Lato;
    padding-bottom: 20px;
  }

  .night .moodBoard {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* color: gray; */
    vertical-align: middle;
    font-size: 25px;
    overflow: auto;
    font-family: Lato;
    padding-bottom: 20px;
  }

  .light .bar {
    background-color: #ffd3b6; 
    border-radius: 10px; 
    padding-left: 30px; 
    padding-right: 30px; 
    border: 2px solid #FEF7E5;
  }

  .night .bar {
    background-color: black; 
    border-radius: 10px; 
    padding-left: 30px; 
    padding-right: 30px; 
    border: 2px solid gray;
  }

  .light .bar .move-up {
    font-size: 20px; 
    background-color: #ffd3b6; 
    border: none;
  }

  .light .bar .move-down {
    font-size: 20px; 
    background-color: #ffd3b6; 
    border: none;
  }

  .night .bar .move-up {
    font-size: 20px; 
    background-color: black; 
    border: none;
    color: whitesmoke;
  }

  .night .bar .move-down {
    font-size: 20px; 
    background-color: black; 
    border: none;
    color: whitesmoke;
  }

  #accordion {
    font-family: Poppins;
  }

  #accordion:hover {
    text-decoration: none;
  }

  p {
    font-family: Montserrat;
  }

  li {
    font-family: Montserrat;
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffd3b6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffd3b6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}