<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
              $(document).ready(function() {
                $("#accordion").accordion({
                });
              });
            </script>
            <title>Sarah's Page</title>
    </head>
<body class="light">
    <br><br><br>
    <h1 id="head1">HELLO THERE.</h1>
    <h2 id="head2">welcome to sarah's page</h2>
    <br>
    <div class="container" style="text-align: center;">
          <h3 id="changeText" style="font-family: Poppins;">Turn Off Lights</h3>
          <label class="switch">
            <input id="changeTheme" type="checkbox" checked>
            <span class="slider round"></span>
          </label>
  </div>
    <br>
    <div class="moodBoard">
      <div id="accordion">
        <div class="item">
        <div class="bar">
        <div class="row">
          <div id="one" class="col-10" data-toggle="collapse" href="#descOne" style="padding-top: 10px; padding-bottom: 8px;">
            <h3 style="text-align: left; vertical-align: center;">About Me</h3>
          </div>
          <div class="col-2" style="padding-top: 8px;">
            <div id="one-button" class="move" style="text-align: right;"> 
              <button id="oneUp" class="btn-light move-up">⬆</button> 
              <button id="oneDown" class="btn-light move-down">⬇</button> 
            </div>
          </div>
        </div>  
        </div>
          <div class="collapse desc" id="descOne" style="padding-left: 30px;">
            <p>
            Hi! My name is Sarah. I'm currently a second year Computer Science student at Universitas Indonesia.
            My main interest in IT revolves around data science and software development. Some languages that 
            I'm familiar with: Java, Python, SQL, HTML/CSS/JS.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="row">
              <div class="col-10" data-toggle="collapse" href="#descTwo" style="padding-top: 10px; padding-bottom: 8px;">
                <h3 style="text-align: left; vertical-align: center;">Current Activities</h3>
              </div>
              <div class="col-2" style="padding-top: 8px;">
                <div class="move" style="text-align: right;"> 
                  <button class="btn-light move-up">⬆</button> 
                  <button class="btn-light move-down" >⬇</button> 
                </div>
              </div>
            </div> 
          </div>
          <div class="collapse desc" id="descTwo">
            <ul>
              <li>Attend Classes</li>
              <li>Eat</li>
              <li>Do (lots of) Assignments</li>
              <li>Watch Dramas/Series</li>
              <li>Sleep</li>
              <li>Repeat</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="row">
              <div data-toggle="collapse" href="#descThree" class="col-10" style="padding-top: 10px; padding-bottom: 8px;">
                <h3 style="text-align: left; vertical-align: center;">Experiences</h3>
              </div>
              <div class="col-2" style="padding-top: 8px;">
                <div class="move" style="text-align: right;"> 
                  <button class="btn-light move-up">⬆</button> 
                  <button class="btn-light move-down">⬇</button> 
                </div>
              </div>
            </div> 
          </div>
          <div class="collapse desc" id="descThree">
            <ul>
              <li>Linear Algebra Teaching Assistant at Fasilkom UI</li>
              <li>Vice Person in Charge of Fundraising - COMPFEST 12</li>
              <li>Social Campaign Volunteer - SIGAP</li>
              <li>Staff of Documentation - OH Fasilkom 2019</li>
              <li>Staff of Editorial Marketing - COMPFEST 11</li>
              <li>Staff of Make Up - UIFW 2019</li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="bar">
            <div class="row">
              <div data-toggle="collapse" href="#descFour" class="col-10" style="padding-top: 10px; padding-bottom: 8px;">
                <h3 style="text-align: left; vertical-align: center;">Achievements</h3>
              </div>
              <div class="col-2" style="padding-top: 8px;">
                <div class="move" style="text-align: right;"> 
                  <button class="btn-light move-up">⬆</button> 
                  <button class="btn-light move-down">⬇</button> 
                </div>
              </div>
            </div> 
          </div>
          <div class="collapse desc" id="descFour">
            <ul>
              <li>
                2nd Place on Battle of the Brains - Jakarta in Global 2017
              </li>
              <li>
                Awarded Gold Prize from KAIST - World Creativity Festival 2014
              </li>
              <li>
                Awarded Bronze Prize from KAIST - World Creativity Festival 2013
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
    jQuery('.move').children().click(function (e) {
    var $div = $(this).closest('.item');
    if (jQuery(e.target).is('.move-down')) { 
        $div.next('.item').after($div);
    } else {
        $div.prev('.item').before($div);
    }
    });</script>
    <script>
        $("#changeTheme").click(() => {
        let body = document.querySelector('body')
        if (body.classList.contains('light')) {
            $("#changeText").html('Turn On Lights')
            body.classList.remove('light');
            body.classList.add('night');
        }
        else {
            $("#changeText").html('Turn Off Lights')
            body.classList.remove('night');
            body.classList.add('light');
        }
    });
</script>
</body>

</html>
